<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Macho Taco!!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/taco_style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../assets/js/tacos.js"></script>
		<script src="../tacos.js"></script>

	</head>
	<body>
		<div class="container">
		<img src="../assets/img/macho.png" class="text-center" style="width:150px">
		{{{ body }}}
		</div>
	</body>
</html>
